---
import { muebles } from "../storage";
import type { MueblesGallery } from "../types/index.types";

const mueblesArray = muebles.slice(0,6);

const double:MueblesGallery[] = mueblesArray.concat(mueblesArray); // duplicar para loop suave
---

<div class="mb-4 w-full bg-slate-200 relative">
  <section class="relative h-full w-full overflow-hidden">
    <div class="slider-track flex w-max" role="list">
      {double.map((mueble:MueblesGallery) => (
        <a href={`/muebles/${mueble.id}`}>
          <div class="slide flex-none relative" role="listitem">
            <img src={mueble.img} alt={mueble.alt} class="block h-[80vh] w-[50vw] object-cover object-center" loading="lazy"/>
            <div class="absolute bottom-6 left-6 bg-slate-200/50 p-3">
              <h2 class="text-5xl font-light">{mueble.title}</h2>
              <p class="text-xl font-extralight">{mueble.description}</p>
            </div>
          </div>
        </a>
      ))}
    </div>
  </section>
</div>

<style>
.slider-track {
  will-change: transform;
  animation: slide 30s linear infinite;
}
.slider-track:hover { 
  animation-play-state: paused;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
</style>
