---
import { links } from "../utils/consts";
---

<footer class="flex flex-col gap-4 bg-gray-800 py-4 text-white">
  <div class="flex justify-between max-w-5xl w-full mx-auto text-md">
    <ul class="w-full text-center">
      <h3 class="py-2 text-sm md:text-xl font-bold">Contacto</h3>
      <li><a target="_blank" rel="noopener noreferrer" class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href={`mailto:${links.email}`}>{links.email}</a></li>
      <li><a target="_blank" rel="noopener noreferrer" class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href={`tel:${links.phone}`}>{links.phoneSpacing}</a></li>
      <li><a target="_blank" rel="noopener noreferrer" class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href="#">{links.locationString}</a></li>
    </ul>
    <ul class="w-full text-center">
      <h3 class="py-2 text-sm md:text-xl font-bold">Redes Sociales</h3>
      <li><a target="_blank" rel="noopener noreferrer" class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href={links.facebook}>Facebook</a></li>
      <li><a target="_blank" rel="noopener noreferrer" class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href={links.instagram}>Instagram</a></li>
      <li><a target="_blank" rel="noopener noreferrer" class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href={links.whatsapp}>WhatsApp</a></li>
    </ul>
    <ul class="w-full text-center">
      <h3 class="py-2 text-sm md:text-xl font-bold">Enlaces</h3>
      <li><a class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href="/muebles">Muebles</a></li>
      <li><a class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href="/materiales  ">Materiales</a></li>
      <li><a class="font-light hover:text-red-500 duration-300 transition-colors py-2 md:py-0.5 px-2 block text-xs" href="/contact">Contacto</a></li>
    </ul>
  </div>
  
  <div class="text-xs md:text-sm">
    <p class="text-center">
      &copy; {new Date().getFullYear()} ADMMuebles. Todos los derechos reservados.
    </p>
    <a target="_blank" rel="noopener noreferrer" class="hover:text-purple-300 duration-300 transition-colors block text-center px-2 py-2" href="https://edenblood-portfolio.netlify.app/">Desarrollado por Franco Montechiani</a>
  </div>

</footer>
